<section class="relative bg-black">
    <div class="relative mx-auto max-w-7xl flex flex-col lg:flex-row-reverse items-center justify-between py-16 px-8 lg:px-16">
      <!-- Right Content (Image) -->
      <div class="relative w-full lg:w-[50%] flex justify-center lg:justify-start items-start lg:items-end">
        <img src="assets/pub2.png" alt="Pubudu Abeywickrama" class="relative z-10 w-85 h-85 object-cover rounded-full" style="margin-bottom: 0;" />

      </div>
  
      <!-- Left Content (Text) -->
      <div class="z-10 w-full lg:w-[50%] text-left lg:text-left mt-8 lg:mt-0">
        <p class="text-xl font-medium text-gray-100">Hi, I am</p>
        <h1 class="mt-2 text-4xl font-extrabold text-gray-100 sm:text-5xl">Pubudu Abeywickrama</h1>
        <p class="mt-4 text-lg text-gray-500">
          Full Stack Developer <br />
          Angular / .Net / SQL
        </p>
        <div class="mt-6 flex space-x-4">
          <!-- Social Icons -->
          <a href="https://github.com/your-profile" target="_blank" class="text-gray-100">
            <i class="pi pi-github icon-only"></i>
          </a>
          <a href="https://linkedin.com/in/your-profile" target="_blank" class="text-gray-100">
            <i class="pi pi-linkedin icon-only"></i>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Second Section with Full Width Content -->
  <section class="relative bg-black py-16 px-8 lg:px-16 w-full">
    <div class="max-w-7xl mx-auto flex flex-col lg:flex-row items-center justify-between space-y-8 lg:space-y-0 w-full">
      <!-- Left Content (Text) -->
      <div class="text-white w-full lg:w-full">
        <h2 class="text-4xl font-extrabold section-head">ABOUT ME</h2>
        <p class="mt-4 text-lg">
            Passionate Full-Stack Developer with experience in
            developing robust and scalable applications. Proficient in
            .NET, Angular, and SQL, with a strong focus on financial
            applications. Adept at front-end and back-end
            development, API integration, and Agile methodologies,
            contributing to delivering impactful solutions for
            dynamic business needs.
            
        </p>
      </div>

    </div>
  </section>
